* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* PRIMERA */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c55356;
}
/* 
h1 {
  position: absolute;
  top: 10px;
  text-align: center;
} */

#content {
  height: 60%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

form {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

form > input {
  font-size: 1.3rem;
  padding: 10px 20px;
  text-align: center;
}

form > div > button {
  font-size: 1.3rem;
  border: 0;
  background-color: hsl(357, 66%, 79%);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

#card {
  height: 100%;
  background-color: #d2d2d2;
  width: 50%;
}

#card > div:first-child {
  height: 75%;
  text-align: center;
}

#imgPokemon {
  height: 100%;
  width: auto;
}

#card > div:last-child {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  padding: 10px;
}

/* SEGUNDA */

#main {
  min-height: 100vh;
}

header {
  height: 80px;
  display: flex;
  padding: 0 40px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: aquamarine;
}

header > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenido {
  display: flex;
  /* width: 100vw; */
  justify-content: center;
  padding-top: 80px;
}

#divCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 70%;
}

#divCards.active {
  padding-right: 50%;
  width: 100%;
}

.card {
  background-color: grey;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

/* SideBar */
#sideBar {
  width: 50%;
  border-left: 1px solid gray;
  padding: 30px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  gap: 1 rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
}

#sideBar > div:first-child {
  text-align: end;
  align-self: flex-end;
}

#sideBar > div:first-child > button {
  border: 0;
  background-color: tomato;
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

#sideBar > h2 {
  text-transform: capitalize;
  font-size: 1.8rem;
}

#sideBar-divImg {
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

#sideBar-divImg > img {
  border: 1px solid black;
  height: 120px;
  border-radius: 10px;
}

#sideBar-divText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.4rem;
}
